.wrapper {
    background-color: black;
    padding: 10px;
    width: 272px;
}

.bnt {
    font-size: 30px;
    background-color: rgb(77, 74, 74);
    color: white;
    border: none;
    
    border-radius: 30px;
    width: 55px;
    
    padding: 10px;
    margin: 5px;
    cursor: pointer;

    transition-duration: 0.3s;
}

.bnt:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

#ResultBox {
    color: gray;
    font-size: 45px;
    height: 100px;

}